body{
    background: center;
    background-image: url(https://www.pexels.com/photo/956999/download/);
    background-size: cover;
}
.inputbox{
    margin-left: 450px;
    margin-right: 450px;
    background: center;
    background-position: center;
    margin-top: 250px;
    text-align: center; 
    color: azure;  
    display: block;
    padding: 25px;
    font-size: 20px;

}

